/* *************** over 576 ****************** */

@media screen and (min-width: 576px) {
    nav {
        width: 200px;
        padding-top: 15px  ;

    }

    nav ul {
        display: block;
    }

    nav .big-logo{
        display: block;
    }

    nav .small-logo{
        display: none;
    }

    nav li {
        padding: 5px 10px;
    }

    nav li p {
        display: block;
    }

    nav h2 {
        display: block;
    }

    .active-navbar p{
        color: #fff;
    }
    
    .active-navbar img{
        filter: opacity(100);
    }
    
    .active-navbar {
        border-left: 2px solid #adff2f;    
    }

    .playlist-list {
        display: block;
    }

    .create-playlist {
        display: flex;
    }

    .artist-current p {
        display: block;
    }

    .download p {
        display: block;
    }

    .user {
        padding-left: 10px;
    }

    .download {
        border-bottom: 1px solid #808080;
    }

    .playlist {
        margin: 20px 0 20px 220px;

    }
    
    .card {
        width: 28vw;
    }

    .card-img {
        height: 28vw;
    }
   
    .current-song {
        flex-basis: 25%;
    }

    .settings {
        flex-basis: 25%;
    }

}

/* *************** over 768 ****************** */

@media screen and (min-width:768px) {
    .card {
        width: 16vw;
    }

    .card-img {
        height: 16vw;
    }

    .current-song {
        flex-basis: 200px;
    }

    .settings {
        flex-basis: 200px;
    }

    .current-img {
        flex-basis: 70%;
    }

    .icons {
        flex-basis: 30%;
        flex-direction: row;
    }

    .icons i {
        padding: 0 2px;
    }
}

/* *************** over 1200 ****************** */

@media screen and (min-width:1200px) {
    .card {
        width: 11vw;
    }    

    .card-img {
        height: 11vw;
    }
}