/* *************** over 576 ****************** */

@media screen and (min-width: 576px) {
    nav {
        width: 200px;
        padding: 15px 50px 0 0;

    }

    nav ul {
        display: block;
    }

    nav .big-logo{
        display: block;
    }

    nav .small-logo{
        display: none;
    }

    nav li {
        padding: 2px 10px;
    }

    li p {
        display: block;
    }

    nav h2 {
        display: block;
    }

    .create-playlist {
        display: block;
    }

    .artist-current p {
        display: block;
    }

    .download p {
        display: block;
    }

    .user {
        padding-left: 10px;
    }

    .user hr { 
        display: block;
    }

    .header {
        width: calc(100% - 217px);

    }

    .playlist {
        margin: 20px 0 20px 220px;

    }

}